:root{
  --twitter-primary: rgb(29, 155, 240);
  --twitter-text-light: white;
  --twitter-primary-transition: all 200ms ease-in-out;
}

.app{
  max-width: 1350px;
  margin: 0 auto;
  color: var(--twitter-text-light);
  display: flex;
}
